[submodule "ext/libsodium"]
	path = ext/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "ext/boost/filesystem"]
	path = ext/boost/filesystem
	url = https://github.com/boostorg/filesystem.git
[submodule "ext/boost/system"]
	path = ext/boost/system
	url = https://github.com/boostorg/system.git
[submodule "ext/boost/config"]
	path = ext/boost/config
	url = https://github.com/boostorg/config.git
[submodule "ext/boost/detail"]
	path = ext/boost/detail
	url = https://github.com/boostorg/detail.git
[submodule "ext/boost/predef"]
	path = ext/boost/predef
	url = https://github.com/boostorg/predef.git
[submodule "ext/boost/utility"]
	path = ext/boost/utility
	url = https://github.com/boostorg/utility.git
[submodule "ext/boost/core"]
	path = ext/boost/core
	url = https://github.com/boostorg/core.git
[submodule "ext/boost/type_traits"]
	path = ext/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "ext/boost/mpl"]
	path = ext/boost/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "ext/boost/preprocessor"]
	path = ext/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "ext/boost/assert"]
	path = ext/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "ext/boost/iterator"]
	path = ext/boost/iterator
	url = https://github.com/boostorg/iterator.git
[submodule "ext/boost/smart_ptr"]
	path = ext/boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
[submodule "ext/boost/static_assert"]
	path = ext/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "ext/boost/throw_exception"]
	path = ext/boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "ext/boost/io"]
	path = ext/boost/io
	url = https://github.com/boostorg/io.git
[submodule "ext/boost/functional"]
	path = ext/boost/functional
	url = https://github.com/boostorg/functional.git
[submodule "ext/boost/range"]
	path = ext/boost/range
	url = https://github.com/boostorg/range.git
[submodule "ext/cereal"]
	path = ext/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "ext/boost/iostreams"]
	path = ext/boost/iostreams
	url = https://github.com/boostorg/iostreams.git
[submodule "ext/boost/concept_check"]
	path = ext/boost/concept_check
	url = https://github.com/boostorg/concept_check.git
[submodule "ext/boost/integer"]
	path = ext/boost/integer
	url = https://github.com/boostorg/integer.git
[submodule "ext/boost/program_options"]
	path = ext/boost/program_options
	url = https://github.com/boostorg/program_options
[submodule "ext/boost/any"]
	path = ext/boost/any
	url = https://github.com/boostorg/any
[submodule "ext/boost/bind"]
	path = ext/boost/bind
	url = https://github.com/boostorg/bind
[submodule "ext/boost/type_index"]
	path = ext/boost/type_index
	url = https://github.com/boostorg/type_index
[submodule "ext/boost/function"]
	path = ext/boost/function
	url = https://github.com/boostorg/function
[submodule "ext/boost/lexical_cast"]
	path = ext/boost/lexical_cast
	url = https://github.com/boostorg/lexical_cast
[submodule "ext/boost/numeric_conversion"]
	path = ext/boost/numeric_conversion
	url = https://github.com/boostorg/numeric_conversion
[submodule "ext/boost/array"]
	path = ext/boost/array
	url = https://github.com/boostorg/array
[submodule "ext/boost/container"]
	path = ext/boost/container
	url = https://github.com/boostorg/container
[submodule "ext/boost/math"]
	path = ext/boost/math
	url = https://github.com/boostorg/math
[submodule "ext/boost/tokenizer"]
	path = ext/boost/tokenizer
	url = https://github.com/boostorg/tokenizer
[submodule "ext/boost/optional"]
	path = ext/boost/optional
	url = https://github.com/boostorg/optional
[submodule "ext/boost/move"]
	path = ext/boost/move
	url = https://github.com/boostorg/move
[submodule "ucm"]
	path = ucm
	url = https://github.com/onqtam/ucm.git
